@import url("tailwindcss/base") layer(_base);
@import url("tailwindcss/components") layer(theme);
@import url("tailwindcss/utilities") layer(_utilities);

html {
  color-scheme: dark;
}

body {
  color-scheme: dark;
  background: hsl(204 3% 12%);
  color: hsl(204 20% 100%);
  min-height: 100vh;
  padding-top: min(10vh, 100px);
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
